.banner{
    width: 720px;
    height: 250px;
   
}


.boton1 {
border: 1px solid #022576; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #022576; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
font-family: Arial ; /*tipografía texto*/
position: absolute;
top: 2px; left: 27.5%;
}

.boton2 {
border: 1px solid #022576; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #022576; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
font-family: Arial ; /*tipografía texto*/
position: absolute;
top: 2px; left: 39%;
}

        
.boton3 {
border: 1px solid #022576; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #022576; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
font-family: Arial ; /*tipografía texto*/
position: absolute;
top: 2px; left: 90%;
}
        


.boton1:hover{
    background-color: rgb(20, 100, 249);
}

.boton2:hover{
    background-color: rgb(20, 100, 249);
}

.boton3:hover{
    background-color: rgb(20, 100, 249);
}


.categorias:hover{
opacity: 60%;


}  

.categorias{
    padding: 10px; /*espacio alrededor texto*/
    background-color:white ;
    width: 33%;
}


.img1{
    width: 200px;
    height: 200px;
    background-color:#022576 ;
}


.redes{
    width: 33%;
  
}

.logo{
    width: 25%;
    text-align: center;
}



.table1{
 width: 100%;
 background-color: #8fe3ff
}    

.table2{
    width: 100%;
}

.tablelogo{
    width: 100%;
}

.body1{
 font-family: Arial !important;
}


.mision{
    width: 70%;
  text-align: justify;
  margin-left: 15%;
}
.vicion{
    width: 70%;
  text-align: justify;
  margin-left: 15%;
}



.img_corporativa {
    width: 720px;
    height: 400px;

}

.img_corporativa_div{
    text-align: center;
}

.banner__{
    text-align: center;
}



.acorh {
list-style: none;
width: 100px;
position: absolute;
top: -14px; left: 30%;
}

.acorh a {
display: block;
padding: 11px;
background: #022576;
color: #ffffff;
text-decoration: none;



}

ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
overflow: hidden;
transition: .3s all ease-in;


}

.acorh a {
display: block;
padding: 11px;
background: #022576;
color: #ffffff;
text-decoration: none;



}

ul.acorh li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
}

.color_:hover{
    background-color: rgb(20, 100, 249) !important;
}
.color:hover{
    background-color: rgb(20, 100, 249) !important ;
}

.color{
    background: rgb(9, 76, 176) !important;
}

