.banner{
    width: 720px;
    height: 250px;
   
}


.boton {
    border: 1px solid #022576; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #022576; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-family: Arial ; /*tipografía texto*/
  
    
    }


    .boton:hover{
        background-color: orangered;
    }



    .categorias:hover{
        background-color:#022576 ;
        width: 200px;
        height: 200px; 
     
    }  

    .categorias{
        padding: 10px; /*espacio alrededor texto*/
        background-color:white ;
    }


    .img1{
        width: 200px;
        height: 200px;
        background-color:#022576 ;
    }


.redes{
    width: 240px;
  
}

.logo{
    width: 240px;
    text-align: center;
}



.table1{
 width: 720px;
}    

.table2{
    width: 720px;
}

.body1{
 font-family: Arial !important;
}


.mision{
    width: 720px;
  text-align: justify;
}
.vicion{
    width: 720px;
    text-align: justify;
}


.img_corporativa {
    width: 720px;
    height: 400px;
   
}

.acorh {
list-style: none;
width: 100px;

position: absolute;
top: -35px; left: 40px;
}

.acorh a {
display: block;
padding: 10px;
background: #022576;
color: #ffffff;
text-decoration: none;



}

ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
overflow: hidden;
transition: .3s all ease-in;


}

.acorh a {
    display: block;
    padding: 10px;
    background: #022576;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    border: solid #ffffff;

   

}




ul.acorh li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}

.menu{
    width: 100px;
}
.tabla_menu{
    width: 400px;
  
}








